<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
  </head>
  <style>
  body {
    font-family: 'Ubuntu';
    padding-top: 100px;
    padding-left: 200px;
  }
  div {
    padding: 50px 100px;
  }
  img {
    display: inline-block;
    width: 30px
  }
  </style>
  <body>
    <h2>Player 1: <%=@player1.name%> and Player 2: <%=@player2.name%></h2>
    <div>
    <%=@player1.name%> has <%=@player1.hit_points%> lives left
    <form action="/attack_1" method="post">
      <input type="submit" value="Attack Player 2!">
    </form>
    <br>
    <%="<img src='http://bit.ly/2iaLfgJ' >" * @player1.hit_points%>
    </div>
    <div>
    <h3><%=@player2.name%> has <%=@player2.hit_points%> lives left</h3>
    <%="<img src='http://bit.ly/2iaLfgJ' >" * @player2.hit_points%>
    <br>
    <br>
    <form action="/attack_2" method="post">
      <input type="submit" value="Attack Player 1!">
    </form>
    </div>
  </body>
</html>
